*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 80%;
}

h1{
    border: 2px darksalmon dashed;
    width: 50%; /*It's using 40% of the page width as header taking 80% of the page width and h1 taking 50% of it*/
    padding: 3rem;
}
/* Using absolute length unit is not recommended */
/* p{
    font-size: 16px;
} */

body{
    width: 100%;
    min-height: 100vh;
}

main{
    font-size: 2em;
}

p{
    font-size: 2rem;
    font-size: 1rem;
    /* 'rem' looks on root element where as 'em' looks on parent element*/
    width: 30ch;
}