*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    text-align: center;
    margin: 1em auto;
    max-width: 600px;
}
nav{
    border: 2px solid gray;
    border-radius: 2rem;
    font-size: 3rem;
    line-height: 6rem;
}

h2{
    background-color: rgb(255, 113, 47);
    border-radius: 2rem 2rem 0 0;
    color: white;
}

ul{
    list-style-type: none;
}

li a, li a:visited{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    display: block;
    color: gray;
}

li a:hover, li a:focus{
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
}

li:last-child a{
    border-radius: 0 0 2rem 2rem;
}

p{
    padding: 1rem;
    font-size: 1.5rem;
}