*{
    padding: 2;
}

ul{
    list-style-type:square ;
    text-align: center;
    list-style-position:inside ;
    font-size: 1.5rem;
    list-style-image:url('checkmark.png') ;
}

ol{
    line-height: 1.5em;
    font-size: 1.5rem;
}

ol li:nth-child(1){
    color: green;
}

ol li:nth-child(2){
    color: red;
}

ul li:nth-child(odd){
    font-weight: bold;
    color: brown;
}

ol ::marker{
    font-weight: bold;
    content: ">> ";
}