*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border: 2px solid orange;
    margin: 2px auto;
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    padding: 5px;
}

.container{
    border: 2px solid cyan;
    margin: 3px auto;
    width: 300px;
    display: inline-block;
}

.group{
    /* display: flex; */
    display: inline-block;
    border: 2px double black;
    box-sizing: border-box;
    margin: 3px 230px;
    width: 1000px;
}